
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: #f4f4f4;
    
}
div{
    margin:10px 0;
}
.header{
    display:flex;
    justify-content: center;
    color:#3C4858;
    font-family:Y_Spotlight;
    font-size:1.5rem;
}
.flex-box{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width:100%;
}
#tank-preview{
    display:flex;
    /* position: fixed; */
    /* top:30%; */
    flex-direction: column;
    align-items:center;
    width:300px;
    margin-bottom: auto;

}
.tank-canvas{
    margin-top:200px;
    border:3px solid #8c98a4;
    width:200px;
    height:100px;
}
#tanksize{

}
#tanksize span{
    margin: 0 2px;
    vertical-align: bottom;

    font-size:0.7rem;
}
.tanksize-input{
    width:65px;
    border:solid 1px #8c98a4;
    text-align: center; 
}
#calc-capacity{
    color:#393939;
    font-size:1.5rem;
}
#search-container{
    display: flex;
    flex:1 1 300px;
    max-width:300px;
}
.search-list{
    display:flex;
    
    border-radius: 5px;

}
.search-list > * {
    margin: 0px;
}
.search-list > img{
    height:100px;
    margin:10px;
}
.tank-container{
    perspective: 1000px;
    width:200px;
    height:250px;
    margin-top:30px;
    display:flex;
    justify-content: center;
}
.tank{
    margin:0px;
    width:200px;
    height:250px;
    animation: spin 15s infinite linear;
    display:block;
    box-sizing: content-box;
    transform-style:preserve-3d;
    position: relative;
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}
#front{

    transform:translateZ(50px);
}
#back{

    transform:translateZ(-50px);
}
#left{
    
    transform: translateX(50px) rotateY(-90deg) ;
}
#right{

    transform: translateX(-50px) rotateY(90deg) ;
}
#top{

    transform: translateY(-45px) rotateX(90deg);
}
#bottom{
    transform: translateY(45px) rotateX(-90deg);
}
.face {
    margin:0px;
    padding:0px;
    width:100px;
    height:100px;
	position: absolute;
    top:80px;
    left:50px;
    box-sizing: border-box;
    border: 5px solid #76899d;
    /* background-color: rgba(126, 200, 223, 0.3); */
    background-color: rgba(18, 129, 159,0.3);
}


.switch-button{
    font-size:0px;
    position:relative;
    display:inline-block;
    width:55px;
    height:30px;
}
.switch-button input{
    opacity:0;
    width:0;
    height:0;
}

.onoff-switch{
    position: absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 0px;
    background-color: #ccc;
    /* box-shadow: inset 1px 5px 1px #999; */
    transition: .4s;
}
.onoff-switch:before { position: absolute; content: ""; height: 22px; width: 22px; left: 4px; bottom: 4px; background-color: #fff; -webkit-transition: .5s; transition: .4s; border-radius:0px; }

.switch-button input:checked + .onoff-switch {
    
}

.switch-button input:checked + .onoff-switch:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }

#detailed{
    display:none;
}
.modal{
    margin:0px;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}
.md_overlay{
    margin:0px;
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    position: absolute;
}
.md_content{
    overflow: hidden;
    overflow-y: auto;
    width: 90%;
    height:90%;
    position: absolute;
    padding: 5px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0, 0, 0, 0.20);

    
}
.md_content > img{
    width:100%;
    
}
div > span{
    margin:0 10px;
    line-height: 30px;
    vertical-align: middle;
    font-size:1.3rem;
    color:#646464;
}
.hidden {
    display:none;
}
#show{
    padding:10px;
    margin:0px;
    width:100%;
    max-width:600px;
}

#tooltip{
    /* width:200px; */
    opacity: 0;
    position: relative;
}
#tooltip.show{
    /* transition:transform .3s ease-in-out,opacity; */
    animation: fadein 3s;
    background-color: rgba(0, 0, 0, 0.8);
        
    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
      -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
      box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
      
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      
    color: #FFFFFF;
      font-size: 12px;
      margin-bottom: 10px;
      padding: 7px 12px;
      position: absolute;
      width: 200px;
      top:100%;
      right:0;
      word-wrap: break-word;
  
      z-index: 9999;
      /* content: attr(data-tooltip-text); */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#tooltip.show::after {
   
          content: attr(data-tooltip-text);
          
}
#url{
    font-size:0px;
}

/* search */

.search-item{
    display:flex;
    background-color:white;
    color:#669d90;
    /* box-shadow: 10px 10px 10px rgb(187, 187, 187); */
    margin:3px 0px;
}
.search-item a:visited{
    color:#79bbac;
}
.search-item a:link{
    color:#79bbac;
    text-decoration-line: none;
}
.search-item p{ color:#3C4858; }
#search-bar{
    width:300px;
    height:35px;
    border: 0px;
    padding:10px;
    font-size:12pt;
    float:left;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}
#search-btn{
    width:50px;
    height:100%;
    border:0px;
    background-color:#669d90;
    float:right;
    border-radius: 0px 10px 10px 0px;
    background-repeat: no-repeat;
    box-sizing:border-box;
    background-size: 30px;
    outline: none;
}

#search-tab{
   height:35px;
   position:relative;
   
}
#search-tab img{
    width:30px;
    position:absolute;
    margin:3px 10px;
}
.open:visited{
    color:#393939;
}
.open:link{
    color:#393939;
}
#main-section{
    display:flex;justify-content: center;
}
.supplies-product-img{
    height:100px;width:100px;object-fit: contain;
}
.search-list > div{
    min-width:200px;
    /* display:flex;
    flex-direction: column; */
}
.search-list > div > p {
    font-weight:bold;
    font-size:1.1rem
}
#calc-btn{
    width:100%;
    height:30px;
    border: none; 
    background-color:#646464;
    color:whitesmoke;
}
input[type=text], input[type=button] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
#clipboard{
    margin-left:10px;background-color:#939393;width:30px;height:30px;position:relative
}
#clipboard > img{
    position:absolute;width:20px;left:50%;top:50%;transform:translate(-50%,-50%)
}
/* input number 버튼제거*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 615px) {
    ul{
        padding-inline-start: 0;
        list-style:none; 
    }
    #search-container{
        display: flex;
        flex:1 1 300px;
        max-width:300px;
    }
}


@media (min-width: 617px) {
    #search-container{
        display: flex;
        flex:1 1 300px;
        max-width:300px;
        margin-left:40px;
    }
}
.divInstall{
    display:none;
}

